body {
    background: url("https://placecats.com/millie/600/300") rgba(16, 25, 64, 0.6);
    background-size: cover;
    background-position: center;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    height: 100vh;
}

h1 {
    font-size: 6rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 12rem;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    margin-bottom: 20px;
    width: 80%;
    font-size: 4rem;
    padding: 10px 30px;
    font-weight: bold;
    border-radius: 5px;
}

#increment-btn {
    background: white;
}

#save-btn {
    background: black;
    color: white;
}

#container {
    max-width: 80%;
    background:rgba(255, 255, 255, 0.6);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    
}

p {
    font-size: 4rem;
}